.share {
  position: fixed;
  left: 30px;
  bottom: 20px;
  margin: 0px;
  width: 50px;
  height: 50px;
  z-index: 1; }
  .share .socialShare {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    will-change: transform,opacity; }
  .share .trigger {
    z-index: 20; }
  .share .icon {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.15s ease-in-out;
    will-change: transform; }

.share:hover {
  width: 200px; }
  .share:hover .socialShare.facebook {
    opacity: 1;
    transform: translateX(110%); }
  .share:hover .socialShare.twitter {
    opacity: 1;
    transform: translateX(220%); }
  .share:hover .socialShare.instagram {
    opacity: 1;
    transform: translateX(330%); }
  .share:hover .socialShare.youtube {
    opacity: 1;
    transform: translateX(440%); }
  .share:hover .socialShare.flickr {
    opacity: 1;
    transform: translateX(550%); }
  .share:hover .socialShare.trigger {
    transform: rotate(-70deg); }

.share.socialShare.facebook {
  opacity: 0;
  transition-delay: 0.00s; }

.share.socialShare.twitter {
  opacity: 0;
  transition-delay: 0.05s; }

.share.socialShare.instagram {
  opacity: 0;
  transition-delay: 0.10s; }

.share.socialShare.youtube {
  opacity: 0;
  transition-delay: 0.15s; }

.share.socialShare.flickr {
  opacity: 0;
  transition-delay: 0.20s; }

.share .socialShare:not(.trigger):hover.icon {
  top: 2px; }

@media (max-width: 750px) {
  .share {
    display: none; } }
.load {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #292136;
  z-index: 300;
  transition-delay: 1.7s;
  transition-duration: 2s; }
  .load img {
    width: 400px; }
    @media screen and (max-width: 960px) {
      .load img {
        width: 350px; } }
    @media screen and (max-width: 700px) {
      .load img {
        width: 250px; } }
    @media screen and (max-width: 480px) {
      .load img {
        width: 220px; } }
  .load .logoStart {
    position: absolute;
    top: 40%;
    left: 36%;
    z-index: 3;
    animation-name: logoStart;
    animation-duration: 3s;
    animation-fill-mode: forwards; }
    @media screen and (max-width: 960px) {
      .load .logoStart {
        left: 30%; } }
    @media screen and (max-width: 480px) {
      .load .logoStart {
        left: 25%; } }
  .load .progressBar {
    position: absolute;
    top: 50%;
    left: 36%;
    width: 350px;
    height: 20px;
    border: 1px solid #fff;
    animation-name: progressBar;
    animation-duration: 3s;
    animation-fill-mode: both; }
    @media screen and (max-width: 960px) {
      .load .progressBar {
        left: 30%;
        width: 300px; } }
    @media screen and (max-width: 700px) {
      .load .progressBar {
        top: 47%;
        left: 27%;
        width: 270px; } }
    @media screen and (max-width: 480px) {
      .load .progressBar {
        left: 24%;
        width: 200px; } }
  .load .seekBar {
    top: 12%;
    left: 36%;
    width: 350px;
    height: 20px;
    background: linear-gradient(90deg, #F11B93 -2.63%, #BF0DD7 69.24%);
    border: 1px solid #fff;
    animation-name: seekBar;
    animation-duration: 2s; }
    @media screen and (max-width: 960px) {
      .load .seekBar {
        width: 300px; } }
    @media screen and (max-width: 700px) {
      .load .seekBar {
        width: 270px; } }
    @media screen and (max-width: 480px) {
      .load .seekBar {
        width: 200px; } }

@keyframes seekBar {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes progressBar {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes logoStart {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
nav {
  position: fixed;
  width: 100%;
  z-index: 100; }
  nav img.logo {
    position: absolute;
    top: 28px;
    left: 30px;
    height: 20px;
    cursor: pointer; }
  nav ul.menuTop {
    position: absolute;
    top: 30px;
    right: 30px; }
    nav ul.menuTop li {
      display: inline-block;
      padding: 5px;
      margin: 0 5px 0 5px;
      position: relative; }
      nav ul.menuTop li a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px; }
      nav ul.menuTop li div.activeSection {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        transform: scaleX(0);
        background: #fcfcfc;
        transform-origin: left;
        transition: transform 0.4s ease-out;
        will-change: transform; }
      nav ul.menuTop li div.activeSection.active {
        transform: scaleX(0.6); }
    @media screen and (max-width: 750px) {
      nav ul.menuTop {
        display: none; } }
  nav .menu-hamburger {
    position: absolute;
    top: 30px;
    right: 30px;
    transform: rotateZ(0deg);
    transition: transform 0.3s;
    cursor: pointer; }
    @media screen and (min-width: 750px) {
      nav .menu-hamburger {
        display: none; } }
  nav .menu-hamburger.active2 {
    transform: rotateZ(90deg); }
  nav .menu {
    margin-top: 4px;
    height: 2px;
    background-color: #fcfcfc; }
  nav .menuUp {
    width: 35px; }
  nav .menuBottom {
    width: 20px;
    margin-left: 15px; }
  nav #menuResponsive {
    text-align: center;
    position: absolute;
    top: 55px;
    left: 0;
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #3A0063 0.13%, #1B1464 99.86%);
    transform: translateX(-100%) translateZ(0);
    transition: transform 0.3s;
    will-change: transform; }
    nav #menuResponsive li {
      margin-bottom: 15px; }
    nav #menuResponsive a {
      color: rgba(255, 255, 255, 0.7);
      text-shadow: 3px 3px 3px #f11b93;
      font-size: 20px;
      font-weight: 300;
      text-decoration: none; }
    nav #menuResponsive a:hover {
      color: #f11b93;
      font-size: 20px;
      text-decoration: none; }
  nav #menuResponsive.active {
    transform: translateX(0%) translateZ(0); }
  nav ul.menuResponsive {
    dsplay: block; }
  nav .socialResponsive {
    display: block; }

section.home {
  height: 100vh;
  background: linear-gradient(90deg, #3A0063 0.13%, #1B1464 99.86%);
  position: relative;
  overflow: hidden; }
  section.home div.mapContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250vw;
    width: 250vw;
    border-radius: 50%;
    background: linear-gradient(90deg, #3A0063 0.13%, #1B1464 99.86%);
    overflow: hidden;
    will-change: transform;
    transition: transform 0.6s ease-in-out, height 0.6s ease-in-out, width 0.6s ease-in-out;
    box-shadow: 3px 3px 18px rgba(0, 0, 0, 0.3); }
    section.home div.mapContainer canvas.map, section.home div.mapContainer img.map {
      z-index: 10;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      will-change: transform; }
    section.home div.mapContainer canvas.map.moving, section.home div.mapContainer img.map.moving {
      animation-name: rotate;
      animation-duration: 20s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: forwards; }
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%); }
  100% {
    transform: translate(-150%, -50%); } }
    section.home div.mapContainer div.reset {
      cursor: pointer;
      position: relative;
      z-index: 200;
      display: none;
      height: 100%;
      width: 100%;
      opacity: 0;
      transform: rotate(180deg);
      will-change: opacity, transform;
      transition: opcaity 0.4s ease-out, transform 0.6s cubic-bezier(0.12, 0.42, 0.14, 0.99); }
      section.home div.mapContainer div.reset img.reset {
        position: absolute;
        top: 15%;
        left: 15%;
        height: 70%;
        width: 70%; }
  section.home div.mapContainer.active {
    height: 70vh;
    width: 70vh;
    transform: translate(-50%, -50%) scale(0.7); }
    section.home div.mapContainer.active div.reset {
      display: block; }
  section.home div.mapContainer.active:hover div.reset {
    opacity: 1;
    transform: rotate(0); }
  section.home div.textBox {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    will-change: transform, opacity;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    transform: translateY(10px); }
    section.home div.textBox p.instructions {
      position: absolute;
      bottom: 80px;
      width: 100%;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 40px;
      font-weight: bold; }
    section.home div.textBox button {
      position: absolute;
      left: 50%;
      bottom: 30px;
      transform: translateX(-50%); }
  section.home div.textBox.active, section.home div.titleBox.active {
    z-index: 10;
    opacity: 1;
    transform: translateY(0); }
  section.home div.titleBox {
    margin-top: 100px;
    width: 100%;
    opacity: 0;
    will-change: transform, opacity;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    transform: translateY(10px);
    text-align: center; }
    section.home div.titleBox p.trip {
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 40px;
      color: white; }
    section.home div.titleBox p.distance {
      padding-top: 10px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 18px;
      color: #f11b93; }

div.desktopHome {
  display: block; }

div.mobileHome {
  display: none;
  padding-top: 50%; }
  div.mobileHome form, div.mobileHome div.newMobile {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    padding: 50px 0;
    transform: translateY(-50%);
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.4s ease-out;
    z-index: 1; }
    div.mobileHome form p.title, div.mobileHome div.newMobile p.title {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 30px;
      margin-bottom: 20px;
      color: white; }
    div.mobileHome form div, div.mobileHome div.newMobile div {
      margin-top: 20px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      color: #f11b93; }
      div.mobileHome form div label, div.mobileHome div.newMobile div label {
        display: inline-block;
        width: 100%;
        padding: 6px;
        color: white;
        font-size: 14px; }
      div.mobileHome form div select, div.mobileHome div.newMobile div select {
        display: inline-block;
        width: 100%;
        height: 34px;
        border-bottom: solid white 1px;
        padding: 6px;
        margin-top: 0px;
        color: #f11b93;
        font-size: 20px; }
    div.mobileHome form .gradientButton, div.mobileHome div.newMobile .gradientButton {
      height: 26px;
      margin-top: 20px;
      margin-left: 50%;
      transform: translateX(-50%); }
    div.mobileHome form p.error, div.mobileHome div.newMobile p.error {
      position: absolute;
      width: 100%;
      top: 0px;
      background: #f11b93;
      padding: 5px;
      color: white;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      will-change: opacity;
      opacity: 0;
      transition: opcacity 0.4s ease; }
    div.mobileHome form p.error.active, div.mobileHome div.newMobile p.error.active {
      opacity: 1; }
  div.mobileHome form.active, div.mobileHome div.newMobile.active {
    opacity: 1;
    z-index: 10; }

@media (max-width: 750px) {
  div.mobileHome {
    display: block; }

  div.desktopHome {
    display: none; } }
section.transports {
  height: 100vh;
  background: linear-gradient(90deg, #3A0063 0.13%, #1B1464 99.86%);
  position: relative;
  overflow: hidden; }
  section.transports div.sliding {
    position: absolute;
    top: 0;
    left: 0;
    width: 600vw;
    height: 100%;
    font-size: 0;
    will-change: transform;
    transition: transform 1.2s ease-out; }
    section.transports div.sliding div.transport {
      position: relative;
      display: inline-block;
      width: 100vw;
      height: 100%;
      overflow: hidden; }

div.transport h3 {
  position: absolute;
  top: 80px;
  height: 60px;
  width: 100%; }
div.transport div.scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  div.transport div.scene div.transportPic {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45%;
    transform: translateX(-50%); }
    div.transport div.scene div.transportPic img.pic {
      display: inline-block;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

div.speedJauge {
  position: absolute;
  left: 30px;
  bottom: 30%;
  height: 50%; }
  div.speedJauge p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    left: 30px;
    transform-origin: 0 100%;
    transform: rotate(-90deg); }
  div.speedJauge div.jauge {
    position: absolute;
    bottom: 0;
    left: 45px;
    width: 40px;
    height: 100%;
    border: solid 1px white;
    overflow: hidden;
    box-shadow: 6px 6px 10px rgba(238, 26, 153, 0.3); }
    div.speedJauge div.jauge div.fillJauge {
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(90deg, #F11B93 -2.63%, #BF0DD7 69.24%);
      transform-origin: bottom;
      transform: translateY(80%);
      border-top: solid 1px white;
      will-change: transform;
      transition: transform 0.4s ease-out; }

div.mainInfos {
  position: absolute;
  bottom: 0;
  height: 35%;
  width: 100%; }
  div.mainInfos div.timing {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: auto;
    font-size: 0; }
    div.mainInfos div.timing div.screen, div.mainInfos div.timing div.unit {
      position: relative;
      margin: 0 5px;
      background: rgba(0, 0, 0, 0);
      border: solid white 1px;
      height: 70px;
      width: 60px;
      text-align: center;
      vertical-align: middle;
      overflow: hidden;
      box-shadow: 4px 4px 10px rgba(238, 26, 153, 0.3); }
      div.mainInfos div.timing div.screen span, div.mainInfos div.timing div.unit span {
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        width: 100%;
        font-size: 30px;
        font-weight: bold;
        font-family: Roboto, sans-serif;
        color: white;
        text-align: center;
        transform: translate(-50%, -50%);
        will-change: transform;
        transition: transform 0.4s ease-out; }
      div.mainInfos div.timing div.screen span.hidden, div.mainInfos div.timing div.unit span.hidden {
        transform: translate(-50%, 100%); }
      div.mainInfos div.timing div.screen span.removed, div.mainInfos div.timing div.unit span.removed {
        transform: translate(-50%, -200%); }
      div.mainInfos div.timing div.screen span.unit, div.mainInfos div.timing div.unit span.unit {
        color: #f11b93;
        font-size: 22px; }
  div.mainInfos p {
    padding-top: 25px;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px; }
  div.mainInfos nav.transportNav {
    margin-top: 35px;
    position: relative;
    height: 30px;
    width: 100%; }
    div.mainInfos nav.transportNav ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 60%;
      border-radius: 3px;
      height: 6px;
      background: white;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3); }
      div.mainInfos nav.transportNav ul li {
        position: relative;
        margin: 0;
        padding: 0;
        height: 20px;
        width: 20px;
        font-size: 0; }
        div.mainInfos nav.transportNav ul li span.dot {
          position: relative;
          display: inline-block;
          height: 20px;
          width: 20px;
          background: #292136;
          border-radius: 10px;
          border: solid 2px white; }
          div.mainInfos nav.transportNav ul li span.dot span.activeTransport {
            position: absolute;
            top: 3px;
            left: 3px;
            display: inline-block;
            height: 10px;
            width: 10px;
            background: #fcfcfc;
            border-radius: 5px;
            transform: scale(0);
            will-change: transform;
            transition: transform 0.3s ease; }
        div.mainInfos nav.transportNav ul li span.dot:hover span.activeTransport {
          transform: scale(1); }
        div.mainInfos nav.transportNav ul li p {
          position: absolute;
          display: inline-block;
          top: 25px;
          left: 10px;
          transform: translateX(-50%);
          font-size: 16px;
          padding-top: 0;
          color: white;
          font-family: "Lato", sans-serif;
          opacity: 0;
          will-change: opacity;
          transition: opacity 0.4s ease-out; }
        div.mainInfos nav.transportNav ul li img {
          position: absolute;
          display: inline-block;
          height: 20px;
          width: 20px; }
        div.mainInfos nav.transportNav ul li img.leftArrow {
          transform: scaleX(-1); }
        div.mainInfos nav.transportNav ul li img.pinkArrow {
          opacity: 0;
          will-change: opacity;
          transition: opacity 0.4s ease-out; }
        div.mainInfos nav.transportNav ul li img.pinkArrow.active {
          opacity: 1; }
      div.mainInfos nav.transportNav ul li.active span.dot span.activeTransport {
        transform: scale(1); }
      div.mainInfos nav.transportNav ul li.active p {
        opacity: 1; }

@media (max-width: 750px) {
  div.speedJauge {
    display: none; }

  div.mainInfos nav.transportNav ul {
    width: 90%; }

  div.transport div.scene div.transportPic {
    width: 90%; }

  div.mainInfos {
    position: absolute;
    bottom: 0;
    height: 35%;
    width: 100%; }
    div.mainInfos div.timing {
      padding-top: 40px;
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: center;
      margin: auto;
      font-size: 0; }
      div.mainInfos div.timing div.screen, div.mainInfos div.timing div.unit {
        margin: 0 2px;
        height: 40px;
        width: 30px; }
      div.mainInfos div.timing span.unit {
        font-size: 12px; } }
section.bfrPage {
  height: 100vh;
  background: linear-gradient(90deg, #3A0063 0.13%, #1B1464 99.86%);
  position: relative;
  overflow: hidden; }
  section.bfrPage .stars {
    position: absolute;
    top: 0;
    left: 0; }
  section.bfrPage h3 {
    position: absolute;
    top: 80px;
    width: 100%; }
  section.bfrPage .bfrIllustration {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 220px; }
    section.bfrPage .bfrIllustration .info {
      z-index: 100;
      height: 100%; }
      section.bfrPage .bfrIllustration .info .infoDot {
        left: 50%;
        transform: translateX(-11px); }
      section.bfrPage .bfrIllustration .info .infoDot:nth-child(1) {
        top: 20%; }
      section.bfrPage .bfrIllustration .info .infoDot:nth-child(2) {
        top: 40%; }
      section.bfrPage .bfrIllustration .info .infoDot:nth-child(3) {
        top: 60%; }
      section.bfrPage .bfrIllustration .info .infoDot:nth-child(4) {
        top: 80%; }
    @media screen and (max-width: 1000px) {
      section.bfrPage .bfrIllustration {
        top: 25%; } }
    @media screen and (max-width: 700px) {
      section.bfrPage .bfrIllustration {
        display: none; } }
    section.bfrPage .bfrIllustration img {
      width: 220px; }
      @media screen and (max-width: 1000px) {
        section.bfrPage .bfrIllustration img {
          width: 180px; } }
    section.bfrPage .bfrIllustration h5 {
      font-family: 'Roboto', sans-serif;
      font-size: 17px;
      transform: translateY(20px); }
  section.bfrPage .bfrDocumentation {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 30%;
    right: 1%;
    width: 55%; }
    @media screen and (max-width: 700px) {
      section.bfrPage .bfrDocumentation {
        display: block;
        left: 2%;
        width: 100%;
        text-align: center; } }
    @media screen and (max-width: 500px) {
      section.bfrPage .bfrDocumentation {
        display: block;
        left: 2%;
        width: 100%;
        text-align: center; } }
    section.bfrPage .bfrDocumentation .leftSide {
      display: inline-block;
      padding: 10px;
      width: 35%;
      text-align: right;
      border-right: 1px solid #fff; }
    section.bfrPage .bfrDocumentation .rightSide {
      display: inline-block;
      vertical-align: top;
      margin-top: 15px;
      margin-left: 7px;
      width: 35%;
      text-align: left; }
    section.bfrPage .bfrDocumentation p {
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      font-weight: 300;
      line-height: 19px; }
      @media screen and (max-width: 1000px) {
        section.bfrPage .bfrDocumentation p {
          font-size: 13px; } }
      @media screen and (max-width: 900px) {
        section.bfrPage .bfrDocumentation p {
          font-size: 11px; } }
      @media screen and (max-width: 700px) {
        section.bfrPage .bfrDocumentation p {
          font-size: 13px; } }
      @media screen and (max-width: 500px) {
        section.bfrPage .bfrDocumentation p {
          font-size: 11px; } }
    section.bfrPage .bfrDocumentation h4 {
      margin-bottom: 5px;
      font-size: 22px; }
      @media screen and (max-width: 900px) {
        section.bfrPage .bfrDocumentation h4 {
          font-size: 18px; } }
    section.bfrPage .bfrDocumentation .textBlock {
      margin-bottom: 20px; }
  section.bfrPage .gradientButton {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%); }
    @media screen and (max-width: 1000px) {
      section.bfrPage .gradientButton {
        font-size: 12px; } }

section.stats {
  background: linear-gradient(90deg, #3A0063 0.13%, #1B1464 99.86%);
  position: relative;
  overflow: hidden;
  font-size: 0;
  height: 100vh; }
  section.stats div.line {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 80px; }
  section.stats div.line:nth-child(2) {
    margin-top: 40px; }
  section.stats div.price, section.stats div.speed {
    width: 48%;
    height: 300px; }
  section.stats div.time {
    width: 100%;
    height: 300px; }
  section.stats h4 {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    height: 10%; }
  section.stats div.jauges {
    display: flex;
    justify-content: center;
    height: 90%; }
    section.stats div.jauges div.verJauge {
      position: relative;
      width: 70px; }
      section.stats div.jauges div.verJauge p.transport {
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        font-family: "Roboto", sans-serif;
        font-size: 18px; }
      section.stats div.jauges div.verJauge div.jauge {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 92%;
        border: solid 1px white;
        overflow: hidden;
        box-shadow: 6px 6px 10px rgba(238, 26, 153, 0.3); }
        section.stats div.jauges div.verJauge div.jauge div.fillJauge {
          position: absolute;
          top: 100%;
          left: 0;
          height: 100%;
          width: 100%;
          background: linear-gradient(90deg, #F11B93 -2.63%, #BF0DD7 69.24%);
          transform-origin: bottom;
          transform: translateY(0%);
          border-top: solid 1px white;
          will-change: transform;
          transition: transform 0.4s ease-out; }
        section.stats div.jauges div.verJauge div.jauge p.value {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-90deg);
          font-family: "Roboto", sans-serif;
          font-size: 14px; }
  section.stats div.horJauges {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    section.stats div.horJauges div.column {
      display: inline-block;
      width: 48%; }
    section.stats div.horJauges div.horJauge {
      position: relative;
      height: 70px; }
      section.stats div.horJauges div.horJauge p.transport {
        position: absolute;
        left: 0;
        bottom: 50%;
        transform-origin: 0 100%;
        transform: rotate(-90deg) translate(-50%, 20px);
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        transform-origin: 0 100%;
        text-align: center; }
      section.stats div.horJauges div.horJauge div.jauge {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: calc(100% - 30px);
        height: 40px;
        border: solid 1px white;
        overflow: hidden;
        box-shadow: 6px 6px 10px rgba(238, 26, 153, 0.3); }
        section.stats div.horJauges div.horJauge div.jauge div.fillJauge {
          position: absolute;
          top: 0;
          right: 100%;
          height: 100%;
          width: 100%;
          background: linear-gradient(90deg, #F11B93 -2.63%, #BF0DD7 69.24%);
          transform-origin: bottom;
          transform: translateX(0%);
          border-right: solid 1px white;
          will-change: transform;
          transition: transform 0.4s ease-out; }
        section.stats div.horJauges div.horJauge div.jauge p.value {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: "Roboto", sans-serif;
          font-size: 14px; }

@media (max-width: 750px) {
  section.stats {
    overflow-y: scroll;
    height: auto; }
    section.stats div.line {
      display: block; }
      section.stats div.line div.price, section.stats div.line div.speed, section.stats div.line div.time {
        width: 100%;
        height: 200px; }
      section.stats div.line div.speed {
        margin-top: 40px; }
      section.stats div.line h4 {
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        height: 15%; }
      section.stats div.line jauges {
        height: 85%; } }
body {
  overflow: hidden;
  background: #292136;
  font-family: 'Lato', sans-serif;
  color: #fcfcfc; }
  body main {
    position: fixed;
    z-index: 4;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 400vh;
    will-change: transform;
    transition: transform 0.6s ease-in-out; }

.pinkText {
  color: #f11b93 !important; }

h3 {
  position: relative;
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  font-size: 70px;
  color: #1B1464;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; }
  h3 span.lueur {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    font-size: 70px;
    color: #1B1464;
    text-shadow: 4px 4px 8px rgba(227, 23, 168, 0.4); }

.gradientButton {
  padding: 5px 15px;
  height: 26px;
  background: linear-gradient(90deg, #F11B93 -2.63%, #BF0DD7 69.24%);
  color: #fcfcfc;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.4s ease, transform 0.4s ease;
  cursor: pointer; }

.gradientButton.active:hover {
  transform: translateX(-50%) scale(1.2); }

.deadGradientButton {
  padding: 5px 15px;
  height: 26px;
  background: #7d88a4;
  color: #fcfcfc;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 1;
  will-change: opacity;
  transition: opacity 0.4s ease, transform 0.4s ease; }

.gradientButton.active {
  opacity: 1; }

div.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0;
  width: 0; }
  div.info div.infoDot {
    position: absolute;
    display: flex;
    align-items: center;
    height: 0px;
    width: 250px;
    font-size: 0; }
    div.info div.infoDot div.dot {
      z-index: 200;
      position: relative;
      display: inline-block;
      height: 22px;
      width: 22px;
      border-radius: 11px;
      background: radial-gradient(circle at center, #f11b93 0, rgba(241, 27, 147, 0) 90%);
      transform: translate(2px, 2px); }
      div.info div.infoDot div.dot img.dot {
        position: absolute;
        top: -2px;
        left: -2px;
        display: inline-block;
        height: 22px;
        width: 22px;
        will-change: transform;
        transition: transform 0.4s ease; }
    div.info div.infoDot p {
      z-index: 100;
      display: inline-block;
      padding: 5px;
      margin-left: 10px;
      max-width: 228px;
      background: #590977;
      text-align: left;
      font-size: 16px;
      font-family: "Lato", sans-serif;
      color: white;
      opacity: 0;
      transform: translateX(-10px);
      will-change: transform, opacity;
      transition: transform 0.4s ease, opacity 0.4s ease; }
  div.info div.infoDot:hover img.dot {
    transform: rotate(90deg); }
  div.info div.infoDot:hover p {
    transform: translateX(0);
    opacity: 1; }

/*# sourceMappingURL=main.css.map */
