section.bfrPage{
  height: 100vh;
  background: $purple-blue;
  position: relative;
  overflow: hidden;

  .stars
  {
    position : absolute;
    top :0;
    left:0;
  }

  h3{
    position: absolute;
    top: 80px;
    width: 100%;
  }

  .bfrIllustration
  {
    position:absolute;
    top:20%;
    left:20%;
    width:220px;

    .info{
      z-index: 100;
      height: 100%;

      .infoDot{
        left: 50%;
        transform: translateX(-11px);
      }
      .infoDot:nth-child(1){
        top: 20%
      }
      .infoDot:nth-child(2){
        top: 40%
      }
      .infoDot:nth-child(3){
        top: 60%
      }
      .infoDot:nth-child(4){
        top: 80%
      }
    }

    img
    {
      width:220px;
    }

    h5
    {
      font-family:'Roboto', sans-serif;
      font-size:17px;
      transform:translateY(20px);
    }
  }

  .bfrDocumentation
  {
    position:absolute;
    display: flex;
    justify-content: center;
    top:30%;
    right:1%;
    width:55%;

    .leftSide
    {
      display:inline-block;
      padding:10px;
      width:35%;
      border-right:1px solid #fff;
      text-align:right;
    }
    .rightSide
    {
      display:inline-block;
      margin-top:15px;
      margin-left:7px;
      vertical-align:top;
      width:35%;
    }

    p
    {
      font-family:'Roboto', sans-serif;
      font-weight:300;
      font-size:15px;
      line-height:19px;
    }
    h4
    {
      margin-bottom:5px;
      font-size:22px;
    }
    .textBlock
    {
      margin-bottom:20px;
    }
  }

  .gradientButton{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
  }
}
