section.bfrPage{
  height: 100vh;
  background: $purple-blue;
  position: relative;
  overflow: hidden;

  .stars
  {
    position : absolute;
    top :0;
    left:0;
  }

  h3{
    position: absolute;
    top: 80px;
    width: 100%;
  }

  .bfrIllustration
  {
    position:absolute;
    top:20%;
    left:20%;
    width:220px;

    .info{
      z-index: 100;
      height: 100%;

      .infoDot{
        left: 50%;
        transform: translateX(-11px);
      }
      .infoDot:nth-child(1){
        top: 20%
      }
      .infoDot:nth-child(2){
        top: 40%
      }
      .infoDot:nth-child(3){
        top: 60%
      }
      .infoDot:nth-child(4){
        top: 80%
      }
      
    }
    @media screen and (max-width:1000px) {
      top:25%;
    }
    @media screen and (max-width:700px) {
      display:none;
    }
    img
    {
      width:220px;
     
      @media screen and (max-width:1000px) {
        width:180px;
      }
    }

    h5
    {
      font-family:'Roboto', sans-serif;
      font-size:17px;
      transform:translateY(20px);
    }
  }

  .bfrDocumentation
  {
    position:absolute;
    display: flex;
    justify-content: center;
    top:30%;
    right:1%;
    width:55%;
    @media screen and (max-width:700px) {
      display: block;
      left:2%;
      width:100%;
      text-align:center;
    }
    @media screen and (max-width:500px) {
      display: block;
      left:2%;
      width:100%;
      text-align:center;
    }

    .leftSide
    {
      display:inline-block;
      padding:10px;
      width:35%;
      text-align:right;
      border-right:1px solid #fff;
    }
    .rightSide
    {
      display:inline-block;
      vertical-align:top;
      margin-top:15px;
      margin-left:7px;
      width:35%;
      text-align:left;
    }

    p
    {
      font-family:'Roboto', sans-serif;
      font-size:15px;
      font-weight:300;
      line-height:19px;
      @media screen and (max-width:1000px) {
        font-size:13px;
      }
      @media screen and (max-width:900px) {
        font-size:11px;
      }
      @media screen and (max-width:700px) {
        font-size:13px;
      }
      @media screen and (max-width:500px) {
        font-size:11px;
      }
    }
    h4
    {
      margin-bottom:5px;
      font-size:22px;
      @media screen and (max-width:900px) {
        font-size:18px;
      }
    }
    .textBlock
    {
      margin-bottom:20px;
    }
  }

  .gradientButton{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    @media screen and (max-width:1000px) {
      font-size:12px;
    }
  }
}
