section.home{
  height: 100vh;
  background: $purple-blue;
  position: relative;
  overflow: hidden;

  div.mapContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250vw;
    width: 250vw;
    border-radius: 50%;
    background: $purple-blue;
    overflow: hidden;
    will-change: transform;
    transition: transform 0.6s ease-in-out, height 0.6s ease-in-out, width 0.6s ease-in-out;
    box-shadow: 3px 3px 18px rgba(0,0,0,0.3);

    canvas.map, img.map{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      will-change: transform;
    }

    canvas.map.moving, img.map.moving{
      animation-name: rotate;
      animation-duration: 20s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: forwards;
    }

    @keyframes rotate{
      0%{transform: translate(-50%, -50%)}
      100%{transform: translate(-150%, -50%)}
    }
  }

  div.mapContainer.active{
    height: 70vh;
    width: 70vh;
    transform: translate(-50%, -50%) scale(0.7);
  }

  div.textBox{
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    will-change: transform, opacity;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    transform: translateY(10px);

    p.instructions{
      position: absolute;
      bottom: 80px;
      width: 100%;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 40px;
      font-weight: bold;
    }

    button{
      position: absolute;
      left: 50%;
      bottom: 30px;
      transform: translateX(-50%);
    }

    button.gradientButton.active:hover{
      transform: translateX(-50%) scale(1.2)
    }
  }

  div.textBox.active, div.titleBox.active{
    z-index: 10;
    opacity: 1;
    transform: translateY(0)
  }
  
  div.titleBox{
    margin-top: 100px;
    width: 100%;
    opacity: 0;
    will-change: transform, opacity;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    transform: translateY(10px);
    text-align: center;
    
    p.trip{
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 40px;
      color: white;
    }
    
    p.distance{
      padding-top: 10px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 18px;
      color: $pink;
    }
  }
}