
section.home{
  height: 100vh;
  background: $purple-blue;
  position: relative;
  overflow: hidden;

  div.mapContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250vw;
    width: 250vw;
    border-radius: 50%;
    background: $purple-blue;
    overflow: hidden;
    will-change: transform;
    transition: transform 0.6s ease-in-out, height 0.6s ease-in-out, width 0.6s ease-in-out;
    box-shadow: 3px 3px 18px rgba(0,0,0,0.3);

    canvas.map, img.map{
      z-index: 10;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      will-change: transform;
    }

    canvas.map.moving, img.map.moving{
      animation-name: rotate;
      animation-duration: 20s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: forwards;
    }

    @keyframes rotate{
      0%{transform: translate(-50%, -50%)}
      100%{transform: translate(-150%, -50%)}
    }

    div.reset{
      cursor: pointer;
      position: relative;
      z-index: 200;
      display: none;
      height: 100%;
      width: 100%;
      opacity: 0;
      transform: rotate(180deg);
      will-change: opacity, transform;
      transition: opcaity 0.4s ease-out, transform 0.6s cubic-bezier(0.12, 0.42, 0.14, 0.99);

      img.reset{
        position: absolute;
        top: 15%;
        left: 15%;
        height: 70%;
        width: 70%;
      }
    }
  }

  div.mapContainer.active{
    height: 70vh;
    width: 70vh;
    transform: translate(-50%, -50%) scale(0.7);

    div.reset{
      display: block;
    }
  }

  div.mapContainer.active:hover{
    div.reset{
      opacity: 1;
      transform: rotate(0);
    }
  }

  div.textBox{
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    will-change: transform, opacity;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    transform: translateY(10px);

    p.instructions{
      position: absolute;
      bottom: 80px;
      width: 100%;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 40px;
      font-weight: bold;
    }

    button{
      position: absolute;
      left: 50%;
      bottom: 30px;
      transform: translateX(-50%);
    }
  }

  div.textBox.active, div.titleBox.active{
    z-index: 10;
    opacity: 1;
    transform: translateY(0)
  }

  div.titleBox{
    margin-top: 100px;
    width: 100%;
    opacity: 0;
    will-change: transform, opacity;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    transform: translateY(10px);
    text-align: center;

    p.trip{
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 40px;
      color: white;
    }

    p.distance{
      padding-top: 10px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 18px;
      color: $pink;
    }
  }
}

div.desktopHome{
  display: block;
}

div.mobileHome{
  display: none;
  padding-top: 50%;

  form, div.newMobile{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    padding: 50px 0;
    transform: translateY(-50%);
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.4s ease-out;
    z-index: 1;

    p.title{
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 30px;
      margin-bottom: 20px;
      color: white;
    }

    div{
      margin-top: 20px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      color: $pink;

      label{
        display: inline-block;
        width: 100%;
        padding: 6px;
        color: white;
        font-size: 14px;
      }

      select{
        display: inline-block;
        width: 100%;
        height: 34px;
        border-bottom: solid white 1px;
        padding: 6px;
        margin-top: 0px;
        color: $pink;
        font-size: 20px;
      }
    }
    .gradientButton{
      height: 26px;
      margin-top: 20px;
      margin-left: 50%;
      transform: translateX(-50%);
    }
    p.error{
      position: absolute;
      width: 100%;
      top: 0px;
      background: $pink;
      padding: 5px;
      color: white;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      will-change: opacity;
      opacity: 0;
      transition: opcacity 0.4s ease;
    }
    p.error.active{
      opacity: 1;
    }
  }
  form.active, div.newMobile.active{
    opacity: 1;
    z-index: 10;
  }
}

@media (max-width: $break-large-3){
  div.mobileHome{
    display: block;
  }
  div.desktopHome{
    display: none;
  }
}