nav{
  position: fixed;
  width: 100%;
  z-index: 100;

  img.logo{
    position: absolute;
    top: 28px;
    left: 30px;
    height: 20px;
  }

  ul{
    position: absolute;
    top: 30px;
    right: 30px;

    li{
      display: inline-block;
      padding: 5px;
      margin: 0 5px 0 5px;
      position: relative;

      a{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
      }

      div.activeSection{
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        transform: scaleX(0);
        background: $white;
        transform-origin: left;
        transition: transform 0.4s ease-out;
        will-change: transform;
      }
      
      div.activeSection.active{
        transform: scaleX(0.6);
      }
    }
  }
}