.share
{
  position:fixed;
  left:30px;
  bottom:20px;
  margin:0px;
  width: 200px;
  height: 50px;
  z-index:1;

  .socialShare
  {
    display:block;
    position:absolute;
    bottom:10px;
    left:0;
    transition : transform 0.5s cubic-bezier(0.8, 0.04, 0.58, 1), opacity 0.5s cubic-bezier(0.8, 0.04, 0.58, 1);
    will-change:transform,opacity;  
  }

  .trigger
  {
    z-index:20;
  }

  .icon
  {
  display:block;
  position:absolute;
  top:5px;
  left:5px;
  width:30px;
  height:30px;
  border-radius:50%;
  box-shadow:2px 2px 4px rgba(0,0,0,0.3);
  transition: transform 0.15s ease-in-out;
  will-change:transform;

  }
}

.share:hover .socialShare.facebook {opacity:1; transform: translateX(110%);}
.share:hover .socialShare.twitter {opacity:1; transform: translateX(220%);}
.share:hover .socialShare.instagram {opacity:1; transform: translateX(330%);}
.share:hover .socialShare.youtube {opacity:1; transform: translateX(440%);}
.share:hover .socialShare.flickr {opacity:1; transform: translateX(550%);}
.share:hover .socialShare.trigger {transform: rotate(-70deg);}

.share.socialShare.facebook{opacity:0; transition-delay: 0.00s;}
.share.socialShare.twitter{opacity:0; transition-delay: 0.05s;}
.share.socialShare.instagram{opacity:0; transition-delay: 0.10s;}
.share.socialShare.youtube{opacity:0; transition-delay: 0.15s;}
.share.socialShare.flickr{opacity:0; transition-delay: 0.20s;}

.share .socialShare:not(.trigger):hover.icon
{
  top:2px;
}