section.transports{
  height: 100vh;
  background: $purple-blue;
  position: relative;
  overflow: hidden;

  canvas.background{
  }

  div.sliding{
    position: absolute;
    top: 0;
    left: 0;
    width: 600vw;
    height: 100%;
    font-size: 0;
    will-change: transform;
    transition: transform 1.2s ease-out;


    div.transport{
      position: relative;
      display: inline-block;
      width: 100vw;
      height: 100%;
      overflow: hidden;
    }  
  }
}

div.transport{
  h3{
    position: absolute;
    top: 80px;
    height: 60px;
    width: 100%;
  }

  div.scene{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    div.transportPic{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 45%;
      transform: translateX(-50%);



      img.pic{
        display: inline-block;
        width: 100%;
        max-height: 350px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

div.speedJauge{
  position: absolute;
  left: 30px;
  bottom: 30%;
  height: 50%;

  p{
    font-family: "Roboto", sans-serif;
    font-size: 18px;

    position: absolute;
    bottom: 0;
    left: 30px;
    transform-origin: 0 100%;
    transform: rotate(-90deg);
  }

  div.jauge{
    position: absolute;
    bottom: 0;
    left: 45px;
    width: 40px;
    height: 100%;
    border: solid 1px white;
    overflow: hidden;
    box-shadow: 6px 6px 10px rgba(238, 26, 153, 0.3);

    div.fillJauge{
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: $pink-purple;
      transform-origin: bottom;
      transform: translateY(80%);
      border-top: solid 1px white;
      will-change: transform;
      transition: transform 0.4s ease-out;
    }
  }
}

div.mainInfos{
  position: absolute;
  bottom: 0;
  height: 35%;
  width: 100%;

  div.timing{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: auto;
    font-size: 0;

    div.screen, div.unit{
      position: relative;
      margin: 0 5px;
      background: rgba(0,0,0,0);
      border: solid white 1px;
      height: 70px;
      width: 60px;
      text-align: center;
      vertical-align: middle;
      overflow: hidden;
      box-shadow: 4px 4px 10px rgba(238, 26, 153, 0.3);

      span{
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        width: 100%;
        font-size: 30px;
        font-weight: bold;
        font-family: Roboto, sans-serif;
        color: white;
        text-align: center;
        transform: translate(-50%, -50%);
        will-change: transform;
        transition: transform 0.4s ease-out;
      }

      span.hidden{
        transform: translate(-50%, 100%);
      }

      span.removed{
        transform: translate(-50%, -200%);
      }

      span.unit{
        font-size: 18px;
      }
    }
  }

  p{
    padding-top: 25px;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
  }

  nav.transportNav{
    margin-top: 35px;
    position: relative;
    height: 30px;
    width: 100%;

    ul{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 60%;
      border-radius: 3px;
      height: 6px;
      background: white;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3);

      li{
        margin: 0;
        padding: 0;
        height: 20px;
        width: 20px;
        font-size: 0;

        span.dot{
          position: relative;
          display: inline-block;
          height: 20px;
          width: 20px;
          background: $darkPurple;
          border-radius: 10px;
          border: solid 2px white;

          span.activeTransport{
            position: absolute;
            top: 3px;
            left: 3px;
            display: inline-block;
            height: 10px;
            width: 10px;
            background: $white;
            border-radius: 5px;
            transform: scale(0);
            will-change: transform;
            transition: transform 0.3s ease;
          }
        }

        span.dot:hover{
          span.activeTransport{
            transform: scale(1);
          }
        }

        img{
          position: relative;
          display: inline-block;
          height: 20px;
          width: 20px;
        }

        img.leftArrow{
          transform: scaleX(-1);
        }
      }
      li.active{
        span.dot span.activeTransport{
          transform: scale(1);
        }
      }
    }

  }
}

@media (max-width: $break-large-3){
  div.speedJauge{
    display: none;
  }
  div.mainInfos nav.transportNav ul{
    width: 90%;
  }

  div.mainInfos{
    position: absolute;
    bottom: 0;
    height: 35%;
    width: 100%;

    div.timing{
      padding-top: 40px;
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: center;
      margin: auto;
      font-size: 0;

      div.screen, div.unit{
        margin: 0 2px;
        height: 40px;
        width: 30px;
      }

      span.unit{
        font-size: 14px;
      }
    }
  }
}